@use './_tagify';
@use './_normalize';

:root{
    font-size: 20px;
    box-sizing: border-box;
    vertical-align: text-top;
 
}

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1); 
}

main{
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 5rem;
}
nav{
    grid-column-start: 1;
    text-align: end
}
#ground{
    @include center();
    justify-content: start;
}


#new-book-div{
    line-height: 1.5;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px;
    background-color: blanchedalmond;
    width: 400px;
    border-radius: 20px;

    form{
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
        tags{
            width: 100%;
        }

        #read{
            height: 0.8rem;
            width: 0.8rem;
        }


    }
}

#book-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        border: thick double #32a1ce;
        margin: 0.8rem;
        padding: 0.2rem;
    }
}
.opaque{
    background: rgba(0, 0, 0, 0.725), 
 }

.hide{
    opacity: 0;
}
div#ground, nav#sidenav-library-selection{
    transition: all 1s ease;
}
.active{
    border: 2px #32a1ce solid;
    padding: 5px;
    border-radius: 2px;
}
